* {
    transition: all 0.3s;
  }

  body {
    background: rgb(95, 110, 160);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
  }
  
  
  .preguntas {
    width: 100vw;
    height: 97vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .encabezado {
    background: white;
    min-width: 100px;
    
    padding: 10px;
  }
  .puntaje{
    font-size: 25px;
  }

  .categoria {
    opacity: 0.3;
    text-align: left;
  }

  .pregunta {
    padding: 10px;
  }

  .imagen {
    object-fit: scale-down;
    height: 200px;
    max-height: 200px;
    width: 100%;
    }

  .btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.03);
  }
  
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    padding:6px;
    color:white;
  }
  
  #boton_pedir_ayuda1{
    display: block;
  }
  

.juego_dados{
  display: none;
  height: 500px;
  text-align: center;
  position: absolute;
  top: 100px;
  background-color: rgb(170, 220, 220);
  padding: 0;
}